@model LoginVM
@{
    ViewData["Title"] = "Login";
}



<form method="post" class="digiuth_login">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input asp-for="Email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
        <small class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input asp-for="Password" class="form-control" placeholder="Password">
    </div>

    <button type="submit" class="btn btn-primary"style="padding:10px">Submit</button>
    <a asp-action="TeacherRegister" class="btn btn-success" style="padding:10px; background-color:red" >Register for Teacher</a>
    <a asp-action="StudentRegister" class="btn btn-primary" style="padding:10px; background-color:blue">Register for Student</a>
</form>

