@model RegisterVM
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>



<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input asp-for="Email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
        <small class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Full Name</label>
        <input asp-for="FullName" class="form-control" aria-describedby="emailHelp" placeholder="Full name">
        <small class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">UserName</label>
        <input asp-for="UserName" class="form-control" aria-describedby="emailHelp" placeholder="USer Name">
        <small class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input asp-for="Password" class="form-control" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input asp-for="ConfirmPassword" class="form-control" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>