<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Digiuth</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/admin/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/admin/vendors/base/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="~/admin/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <!-- End plugin css for this page -->
    <script src="https://kit.fontawesome.com/11cb9748d2.js" crossorigin="anonymous"></script>
    <!-- inject:css -->
    <link rel="stylesheet" href="~/admin/css/style.css">
    <!-- endinject -->
    <link rel="icon" href="" type="image/gif" sizes="64x64">
</head>
<body class="sidebar-icon-only">
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="navbar-brand-wrapper d-flex justify-content-center">
                <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
                    @*<a class="navbar-brand brand-logo" ><img src="" alt="logo" /></a>*@
                    <a class="navbar-brand brand-logo-mini" href="index.html"><img src="~/assets/images/2d14c654-6f94-410e-a1bd-ba72b655f136dice-logo.png" alt="logo" /></a>
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                        <span class="mdi mdi-sort-variant"></span>
                    </button>
                </div>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end"></div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Bio" asp-action="Index">
                            @*<i class="mdi mdi-home menu-icon"></i>*@
                            <span class="menu-title">Bio</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="User" asp-action="Index">
                            @*<i class="mdi mdi-home menu-icon"></i>*@
                            <span class="menu-title">Team</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Dashboard" asp-action="Index">
                            @*<i class="mdi mdi-home menu-icon"></i>*@
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Course" asp-action="Index">
                            @*<i class="mdi mdi-home menu-icon"></i>*@
                            <span class="menu-title">Course</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="CertificatedUser" asp-action="Index">
                            @*<i class="mdi mdi-home menu-icon"></i>*@
                            <span class="menu-title">Certificated Users</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="MainCategory" asp-action="Index">
                            @*<i class="mdi mdi-home menu-icon"></i>*@
                            <span class="menu-title">Main Category</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="ChildCategory" asp-action="Index">
                            @*<i class="mdi mdi-home menu-icon"></i>*@
                            <span class="menu-title">Child Category</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Event" asp-action="Index">
                            @*<i class="mdi mdi-home menu-icon"></i>*@
                            <span class="menu-title">Event</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="EducationLanguage" asp-action="Index">
                            @*<i class="mdi mdi-home menu-icon"></i>*@
                            <span class="menu-title">EducationLanguage</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Subscription" asp-action="Index">
                            @*<i class="mdi mdi-home menu-icon"></i>*@
                            <span class="menu-title">Subscription</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Testimonial" asp-action="Index">
                            @*<i class="mdi mdi-home menu-icon"></i>*@
                            <span class="menu-title">Testimonial</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Contact" asp-action="Index">
                            <span class="menu-title">Contact</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Blog" asp-action="Index">
                            <span class="menu-title">Blog</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <!-- plugins:js -->
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>*@
    <script src="~/admin/vendors/base/vendor.bundle.base.js"></script>
    <script src="~/admin/vendors/chart.js/Chart.min.js"></script>
    <script src="~/admin/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="~/admin/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script src="~/admin/js/off-canvas.js"></script>
    <script src="~/admin/js/hoverable-collapse.js"></script>
    <script src="~/admin/js/template.js"></script>
    <script src="~/admin/js/dashboard.js"></script>
    <script src="~/admin/js/data-table.js"></script>
    <script src="~/admin/js/jquery.dataTables.js"></script>
    <script src="~/admin/js/dataTables.bootstrap4.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>