
@model MainCategory
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create Category</h4>
                <form class="forms-sample" enctype="multipart/form-data" method="post">
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" placeholder="Title">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LongDesc"></label>
                        <input asp-for="LongDesc" class="form-control" placeholder="LongDesc">
                        <span asp-validation-for="LongDesc" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ShortDesc"></label>
                        <input asp-for="ShortDesc" class="form-control" placeholder="ShortDesc">
                        <span asp-validation-for="ShortDesc" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Photo"></label>
                        <input asp-for="Photo" class="form-control" placeholder="Photo">
                        <span asp-validation-for="Photo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="VideoUrl"></label>
                        <input asp-for="VideoUrl" class="form-control" placeholder="VideoUrl">
                        <span asp-validation-for="VideoUrl" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="WhyChooseCourse"></label>
                        <input asp-for="WhyChooseCourse" class="form-control" placeholder="WhyChooseCourse">
                        <span asp-validation-for="WhyChooseCourse" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-success mr-2">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_Validation" />
}

