
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row d-flex justify-content-center">
    <img src="~/assets/img/logo/logo.png" style="width:150px;height:50px" alt="logo" />
</div>
<a class="btn btn-outline-info" style="padding:20px;margin-bottom:15px" asp-area="" asp-controller="Home" asp-action="Index">Main Page</a>
<img src="~/assets/img/dashboard.jpg" style="width:1200px;height:350px" alt="Alternate Text" />

