@model IEnumerable<Blog>
    @foreach (Blog item in Model)
    {
        <a asp-controller="Blog" asp-action="Detail" asp-route-id="@item.Id">
            <ul style="background-color:#9CCA46;color:white;"  >
                <li style="color:white">Blog : @item.Title</li>
            </ul>
        </a>
    }
