@model IEnumerable<Blog>
    @foreach (Blog item in Model)
    {
        <a asp-controller="Blog" asp-action="Detail" asp-route-id="@item.Id">
            <ul>
                <li style="color:white">@item.Title</li>
            </ul>
        </a>
    }
