@model IEnumerable<Course>
@foreach (Course item in Model)
{
    <a style="background-color:#9CCA46;color:white;" asp-controller="Course" asp-action="Detail" asp-route-id="@item.Id">
        <ul style="background-color:#9CCA46;color:white;">
            <li style="color:white">Course : @item.Name</li>
        </ul>
    </a>
}
